<!DOCTYPE html>
<html>
  <head>
    <title>Movies App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block mystyle %}{% endblock mystyle %}
  </head>

  <body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light mb-3">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          {% load static %}
          <img src="{% static 'images/logo-shadow.png' %}" alt="" width="30" height="24"
            class="d-inline-block align-text-top logo" />
          Movies
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="{% url 'news' %}">News</a>
            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logoutaccount' %}">
                Logout ({{ user.username }})
              </a>
            {% else %}
              <a  class="nav-link"
                  href="{% url 'loginaccount' %}">
                  Login
              </a>
              <a  class="nav-link"
                  href="{% url 'signupaccount' %}">
                  Sign Up
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

    <footer class="text-center text-lg-start bg-dark text-muted text-light-emphasis mt-4">
      <div class="text-center p-4">
        © Copyright - Sagar Pohekar
      </div>
    </footer>    
  </body>
</html>